@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Poppins:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*     border: solid 2px red; */
}

/* Header */
#header {
  width: 100vw;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 4;
  position: fixed;
}
#header .nav {
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.685) 0%, rgba(0, 0, 0, 0.4546860981) 48%, rgba(0, 0, 0, 0.2810166303) 76%, rgba(0, 0, 0, 0) 100%);
  color: #FFFCF3;
  /* font-size: 1.5rem; */
  text-transform: uppercase;
}
#header .nav .nav__container {
  display: flex;
  height: 110px;
  width: 95%;
  flex-direction: row;
  /*  align-content: center; */
  justify-content: space-between;
  align-items: center;
}
#header .nav .nav__logo img {
  height: 50px;
  width: auto;
  padding-left: 40px;
}
#header .nav .nav__label img {
  height: 50px;
  width: 50px;
}
#header .nav .nav__input:checked + .nav__menu {
  background-color: #d5c428;
}
#header .nav .nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
#header .nav .nav__menu .nav__item {
  color: #FFFCF3;
  text-decoration: none;
}
#header .nav .nav__menu .nav__item:hover {
  color: #D5C328;
}
#header .nav .nav__label, #header .nav .nav__input {
  display: none;
}

/* Footer */
#footer {
  width: 100vw;
  height: auto;
  background-color: #FFFCF3;
  padding-top: 40px;
  padding-bottom: 20px;
}
#footer .footer__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}
#footer .footer__container .footer__icons a {
  text-decoration: none;
  margin-left: 30px;
}
#footer .footer__container .footer__icons a img {
  width: 20px;
}
#footer .footer__container .footer__copy p {
  font-size: medium;
}

/* Seccion 0 */
#section0 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#section0 .section0__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section0 .section0__capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.337254902);
}
#section0 .section0__container1 {
  position: relative;
  z-index: 2;
  top: 150px;
  color: #FFFCF3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#section0 .section0__container1 .container1__logo img {
  height: 105px;
  width: auto;
}
#section0 .section0__container1 .container1__slogan h1 {
  /* font-size: 3rem; */
  padding-top: 40px;
  font-weight: normal;
}
#section0 .section0__container1 .container1__slogan p {
  /* font-size: 2.3rem; */
  padding-top: 5px;
  font-family: "Alegreya", serif;
}

/* Seccion 1*/
#section1-1 {
  background-color: #FFFCF3;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg/section1.jpg);
  background-position: center center;
  background-size: cover;
}
#section1-1 .section1-1__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #a8a394;
}
#section1-1 .section1-1__container img {
  width: 100px;
}
#section1-1 .section1-1__container p {
  /* font-size: 30px; */
  font-style: oblique;
  font-weight: 300;
}

/* Seccion 2 - Testimonios */
#card__experiencias {
  background-color: #FFFCF3;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  color: #7e7e7e;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
#card__experiencias h3 {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
#card__experiencias h3 span {
  font-weight: bold;
}
#card__experiencias .card {
  width: 30%;
  height: auto;
  padding-bottom: 10px;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.459);
}
#card__experiencias .card .card__encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: start;
}
#card__experiencias .card .card__encabezado .encabezado__img {
  width: 110px;
  margin: 20px;
}
#card__experiencias .card .card__encabezado .encabezado__usuario {
  width: 110px;
  font-weight: 600;
  /* size */
  text-transform: uppercase;
}

#nosotros {
  margin-top: 150px;
  margin-bottom: 100px;
}
#nosotros h1 {
  width: 100%;
  text-align: center;
}
#nosotros .nosotros__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  /* .container__item {
      ...

      .item__description {
          ...
          h2 {
              ...
          }
          p {
              ...
          }
      }
      .item__image {
          img {
              ...
          }
      }
  } */
}
#nosotros .nosotros__container .container__item {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#nosotros .nosotros__container .container__item .item__description {
  width: 500px;
  height: auto;
}
#nosotros .nosotros__container .container__item .item__description h2 {
  margin-bottom: 20px;
}
#nosotros .nosotros__container .container__item .item__description p {
  text-align: justify;
  line-height: 40px;
}
#nosotros .nosotros__container .container__item .item__imagen img {
  height: 300px;
}

#productos {
  margin-top: 100px;
  background-color: #FFFCF3;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  color: #7e7e7e;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
#productos h1 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
#productos .card {
  margin: 10px;
  box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.459);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#productos .card .card__body {
  margin: 20px 10px 20px 10px;
}
#productos .card .card__img {
  max-width: 300px;
}

#formulario {
  width: 100vw;
  height: auto;
  padding-top: 90px;
}
#formulario .contenedor-general-form {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.768627451);
  padding-top: 50px;
  padding-bottom: 50px;
}
#formulario p {
  color: #241b19;
  font-size: 25pt;
}
#formulario button {
  align-items: center;
}/*# sourceMappingURL=style.css.map */